@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Suez+One&display=swap');


.row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  display: grid;
  grid-template-columns: 8rem 2.5fr 1.3fr 2fr 5rem;
  margin-right: 0px;
}

.column1 {
  grid-column: 2/2;
  min-width: 300px;
}


.club-name{
  font-family: 'Suez One';
  font-size: 4.7rem;
  line-height: 60px;
  color: #FFFFFF;


}
.tagline{
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  color: #ffffff;
  font-size: 1.3rem;
}
.column2{
  grid-column: 4/4;
}
.globe{
  width: 400px;
  height: 400px;
}

.Smedia1 {
  width: 33px;
  height: 33px;
  background-color: #F8F9FA;
  border-radius: 50%;
  position: relative;
  margin: 5px;
  z-index:1;
  -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25) , 0px 4px 4px 0px rgba(0,0,0,0.25); 
  box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25) , 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.Smedia1:hover {
  background-color: #00C2FF;
  -webkit-box-shadow: 0px 1px 4px 1px #0038FF, inset 3px 5px 8px -1px #BAE1FC; 
  box-shadow: 0px 1px 4px 1px #0038FF, inset 3px 5px 8px -1px #BAE1FC;
}

.SMediaGroup{
  display: grid;
  justify-content: left;
  align-items: left;
  margin-left: 1rem;
}

.icon{
  justify-content: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  position:relative;
  z-index:2;
  width: 19px;
  height: 19px;

}
@media only screen and (max-width:1090px){
.empty-row{
    height: 10px;
}
.row{
  grid-template-columns: 5rem 8rem 2fr 5.5rem 5rem;
}
.column1{
  grid-column: 3/3;
}
.club-name{
  font-size: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tagline{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.column2{
  grid-column: 3/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.globe{
  width: 300px;
  height: 300px;
}
.Smedia1 {
  width: 35px;
  height: 35px;
}
.icon{
  width: 20px;
  height: 20px;
}
}

@media only screen and (max-width:450px){
  .empty-row{
    height: 300px;
  }
  .row{
    display: flex;
  }
  .column1{
    padding-top: 165px;
    display: block;
  }
  .club-name{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tagline{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .column2{
    display: none;
  }
 
  .SMediaGroup{
    display: none;
  }
  }
  