@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,700;0,900;1,400;1,500;1,600;1,800;1,900&family=Faustina:ital,wght@0,300;0,400;0,600;0,700;1,500&family=Source+Serif+4:ital,opsz,wght@0,8..60,300;0,8..60,400;1,8..60,300&display=swap");
.carousel_____container {
  width: auto !important;
}

.AchievementsContainer {
  width: 100%;
  height: 100%;
  background-size: 100vw 100vh;
  background: url("../Images/Illustrations/HomeBg.png") no-repeat fixed center /
    cover;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.owl-theme {
  padding: 5rem;
}
.titleac {
  /*font-family: 'Righteous', cursive;*/
  font-size: 2.5rem;
  font-weight: 700 !important;
  color: #000000;
  text-align: center;
  margin-top: 2rem;
}

.Achievement_card {
  width: 330px;
  height: 380px;
  /* perspective: 1000px; */
}

.Achievement_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Achievement_card:hover .Achievement_back_face {
  transform: rotateY(0deg);
}

.Achievement_front_face,
.Achievement_back_face {
  position: absolute;
  width: 330px;
  height: 380px;
  border-radius: 1rem;
  background: rgba(2, 0, 74, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backface-visibility: hidden;
}
.Achievement_front_face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.4rem;
  padding: 1rem;
}

.Achievement_back_face {
  display: flex;
  align-items: center;
  padding: 2.2rem;
  transform: rotateY(180deg);
}

.Achievement_back_face p {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  flex-direction: column;
  font-size: 0.9rem;
  font-family: "Faustina", serif;
}
.hil {
  text-align: center;
  color: tomato;
  font-size: 1.2rem;
  font-family: "Faustina", serif;
  padding-bottom: 8px;
}
@media screen and (max-width: 1200px) {
  .owl-theme {
    padding: 3rem;
  }
}
@media screen and (max-width: 650px) {
  .owl-theme {
    padding: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .owl-theme {
    padding: 1rem;
  }
}
