@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Suez+One&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa';
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 2rem;
  background-color: transparent;
  color: azure;
  margin-bottom: 10vh;
}
.Logo{
  height: 50px;
}
.logo{
  width: 3rem;
  margin-top: 3rem;
  margin-left: 2.3rem;
}
nav{
  display: flex;
  flex-direction: row;
  margin-top: 3.8rem;
  padding-left: 135px;
}
nav li{
  margin-left: 70px;
  text-decoration: none;
  color: azure;
  list-style: none;
  margin-top: 0.8rem;
  font-size: 1.2rem;
}
nav li a{
  text-decoration: none;
  color: azure;
  font-size: 18px;
  position: relative;
}
nav li a:hover{
  color: rgb(0, 255, 247);
}

nav li a::after{
  content: ' ';
  position:absolute;
  top: 25px;
  left: 50%;
  width: 0%;
  height: 1px;
  background: rgb(0, 255, 247);
  transition: 0.4s ease-in-out;
}
nav li a:hover::after{
  left: 0;
  width: 100%;
}
.apply-btn{
  padding-top: 70px;
}
.btn {
  align-items: right;
  justify-content: right;
  transform: translateX(-30%);
  width: 100px;
  color: #fff;
  border-radius: 20px;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease; 
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-01 {
  background-color: #de2653;
  /* background-image: linear-gradient(315deg, #d8486c 26%, #de2653 74%); */
  border: none;
  z-index: 1;
}
.btn-01:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0; 
  z-index: -1;
  border-radius: 20px;
   background-color: #4dccc6;
  background-image: linear-gradient(315deg, #e65076 0%, #f73263 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-01:hover {
  color: rgb(0, 0, 0);
}
.btn-01:hover:after {
  top: 0;
  height: 100%;
}
.btn-01:active {
  top: 2px;
} 
.nav_btn{
    padding: 5px;
    cursor: pointer;
    background:transparent;
    border: none;
    outline: none;
    color: azure;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.nav_bar{
    margin-top: 3rem;
}
@media screen and (max-width: 1440px){
 
  nav li{
    margin-left: 5rem;
  }

}
  
@media screen and (max-width: 1090px){
   
  .nav_btn{
    visibility: visible;
    opacity: 1;
  }
  .logo{
    margin-left: 2rem;
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgba(255, 153, 0, 0.961);
    transition: 1s;
    transform: translateY(-110vh);
    margin-top: 0rem;
    padding-left: 0px;
  }
  nav li{
    margin-left: 0;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    
  }
  .nav_open{
    transform: translateY(0);
  }
  .nav_close{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .apply-btn{
    display: none;
  }
}