@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Suez+One&display=swap');

.navbar {
  align-items: center;
  margin-top: auto;
  padding-top: 1.2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 5rem 5rem 2fr 5rem 15rem;
  padding-left: 30px;
}
  .menu-link{
    display: grid;
    grid-column: 3/4;
  }
  .menu-link ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 6rem;
  }
  .menu-link ul li {
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    list-style-type: none;
}

  a{
    text-decoration: none;
  }
  
  .Logo{
    height: 60px;
    display: grid;
    grid-column: 2/2;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
  }

  .nav-links{
    color: #fff !important;
  }
  .apply-btn{
    grid-column: 5/5;
    display: block;
    display: grid;
    padding-left: 50px;
    padding-top: 10px;
  }
  .apply-btn .btn {
    width: 100px;
    color: #fff;
    border-radius: 20px;
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease; 
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .apply-btn .btn-01 {
    background-color: #de2653;
    /* background-image: linear-gradient(315deg, #d8486c 26%, #de2653 74%); */
    border: none;
    z-index: 1;
  }
  .apply-btn .btn-01:hover {
    color: rgb(0, 0, 0);
  }
  .apply-btn .btn-01:hover:after {
    top: 0;
    height: 100%;
  }
  .apply-btn .btn-01:active {
    top: 2px;
  } 
.hamburger-menu{
    display: none;
    font-size: 3.5rem;
  }
@media only screen and (max-width:998px){
  .navbar{
    grid-template-columns: 5rem 3fr 5rem;
    align-items: baseline;
  }
  .apply-btn{
    display: none;
  }
  .menu-link{
    display: none;
  }
  .Logo{
    grid-column: 1/2;
    height: 45px;
  }
  .logo{
    padding-top: 12px;
  }
  .hamburger-menu{
    display: block;
    grid-column: 3/3;
    position: relative;
    font-size: 2.5rem;
  }
  .mobile-menu-link{
    background-color: rgb(226, 82, 82);
    height: 20rem;
    width: 100%;
    top: 70px;
    position: relative;
    display: grid;
    grid-column: 2/2;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
    transition: all 2s linear;
    transform-origin: top;
    border-radius: 100px;
  }
  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    margin-left: 0px;
    padding-left: 3px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .mobile-menu-link ul li:first-child {
    transition-delay: 2s;
  }
}

@media only screen and (max-width:450px){
  .navbar{
    grid-template-columns: 5rem 3fr 5rem;
    align-items: baseline;
    padding-left: 10px;

  }
  .apply-btn{
    display: none;
  }
  .menu-link{
    display: none;
  }
  .Logo{
    grid-column: 1/2;
    height: 45px;
  }
  .logo{
    padding-top: 20px;
  }
  .hamburger-menu{
    display: block;
    font-size: 2.5rem;
    top: 8px;
    grid-column: 3/3;
    position: relative;
  }
  .mobile-menu-link{
    background-color: rgb(226, 82, 82);
    height: 20rem;
    width: 100%;
    top: 70px;
    position: relative;
    display: grid;
    grid-column: 2/2;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
    transition: all 2s linear;
    transform-origin: top;
    border-radius: 100px;
  }
  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    margin-left: 0px;
    padding-left: 3px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .mobile-menu-link ul li:first-child {
    transition-delay: 2s;
  }
}