@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.page{
  background:url('components/Images/Illustrations/LpBg.jpg');
  background-size: 100vw 116vh;
  background-repeat: no-repeat;
  overflow: hidden;
} 

@media only screen and (max-width:1090px){
  .page{
    background-size: 100vw 105vh;
  }
}
@media only screen and (max-width:450px){
  .page{
    background-size:100vw 78vh;
  }
}